.git
.env
.env.*
!.env.example
.idea

vendor
node_modules

frankenphp

public/build
public/storage
public/hot
public/fonts-manifest.dev.json

bootstrap/cache/*

storage

npm-debug.log*
yarn-debug.log*

Dockerfile
docker-compose.yml
